{%extends 'base.html'%}
{%load staticfiles%}


{% block title %}

  <title>Inicio UnMomento</title>
  
{% endblock title %}

{% block styles %}
  
{% endblock styles %}

{%block content%}
<!--  HEADER -->    
<header>
<!--  MESSAGES ABOVE HEADER IMAGE -->
<div class="message">
<div class="row">
<div class="small-12 columns">
<h1><span id="js-rotating">Orientaciones legales, violencia familiar, Conflictos familiares, Deudas, THE REAL PUBLIC CLOUD EXPERIENCE</span></h1>
<div class="message-intro">
<span class="message-line"></span>
<p>Orientador legal ante eventos imprevistos</p>
<span class="message-line"></span>
</div>





<div class="small-12 large-7 large-centered medium-7 medium-centered columns">

<div class="login-form">
<form method="post">

{%csrf_token %}


<select>
      <option>¿Qué te sucedió?</option>
      <option>Accidente de transito</option>
      <option>Rina</option>
      <option>Me deben dineo - Debo dinero</option>
      <option>Me quiero divorciar</option>
      <option>Problemas con herencia</option>
  </select>


<input type="submit" value="Buscar">
</form>
</div>

</div>



</div>
</div>
</div>
<!--  END OF MESSAGES ABOVE HEADER IMAGE -->

<div class="top">
  <div class="row">
  <div class="small-12 large-3 medium-3 columns">
   <div class="logo">
   <a href="{%url 'home'%}" title=""><img width="70px"src="{% static 'images/logo.png'%}" alt="" title=""/></a>
   </div>
</div>

<div class="small-12 large-9 medium-9 columns">

<!--  NAVIGATION MENU AREA -->
    <nav class="desktop-menu">
      <ul class="sf-menu">
         <li class="current-menu-item"><a href="{%url 'home'%}">Buscar</a></li>
         <li><a href="{%url 'que_es'%}">UnMomento</a>
             
         </li>
         <li><a href="{% url 'categorias' %}">CATEGORIAS</a></li>
        
          <li><a href="#">CONTRIBUCIONES</a>
              <ul>
                 <li><a href="{% url 'colaboradores:solicitud' %}">Quiero contribuir</a></li>
                
              </ul>
          </li>
          <li><a href="contact.html">CONTACT</a></li>
    </ul>
  </nav>
<!--  END OF NAVIGATION MENU AREA --> 

<!--  MOBILE MENU AREA -->
  <nav class="mobile-menu">
    <ul>
  <li><a href="index.html">Inicio</a></li>
         <li><a href="#">unmomento</a>
             
         </li>
         <li><a href="{% url 'categorias' %}">categorias</a></li>
         <li><a href="#">PAGES</a>
             <ul>
                <li><a href="support.html">SUPPORT</a></li>
                <li><a href="login.html">LOGIN</a></li>
                <li><a href="testimonials.html">TESTIMONIALS</a></li>
                <li><a href="typography.html">TYPOGRAPHY</a></li>
             </ul>
          </li>
          <li><a href="#">Contribuciones</a>
              <ul>
                 <li><a href="{% url 'colaboradores:solicitud' %}">Quiero contribuir</a></li>
                
              </ul>
          </li>
          <li><a href="contact.html">contacto</a></li>
</ul>
  </nav>
  <!--  END OF MOBILE MENU AREA -->


  </div>
  </div>
  </div>

</header>  
<!--  END OF HEADER -->  

<!--  FEATURES -->
<section class="features">
<div class="row">
<div class="small-12 columns">
<h2>Temas más buscados</h2>
<p>UnMomento pretende orientarte o abrir tu panorama ante un suceso o evento inesperado y ayudarte a llevar el proceso inicial de una manera facil y clara.</p>

<ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-3">

<li  data-wow-delay="0.2s" class="wow fadeInLeft">
<i class="fa fa-database"></i>
<h3>Cloud Databases</h3>
<p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag skateboard</p>
</li>

<li data-wow-delay="0.4s" class="wow fadeInLeft">
<i class="fa fa-git-square"></i>
<h3>Pre-installed git</h3>
<p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag skateboard</p>
</li>

<li data-wow-delay="0.6s" class="wow fadeInLeft">
<i class="fa fa-code"></i>
<h3>Developer-friendly tools</h3>
<p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag skateboard</p>
</li>

<li data-wow-delay="0.2s" class="wow fadeInRight">
<i class="fa fa-bolt"></i>
<h3>Gigabit uplinks</h3>
<p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag skateboard</p>
</li>

<li data-wow-delay="0.4s" class="wow fadeInRight">
<i class="fa fa-hdd-o"></i>
<h3>SSD-Only</h3>
<p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag skateboard</p>
</li>

<li data-wow-delay="0.6s" class="wow fadeInRight">
<i class="fa fa-rocket"></i>
<h3>Running at scale</h3>
<p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag skateboard</p>
</li>

</ul>
</div>
</div>
</section>
<!--  END OF FEATURES -->

<!--  CALL TO ACTION  -->
<section class="calltoaction">
<div class="row">
<div class="small-12 columns">
<div data-wow-delay="0.3s" class="longshadow wow fadeInDown">Mis Derechos?</div>
<div data-wow-delay="0.5s" class="calltoactioninfo wow fadeInUp">
<h2><span id="discount">0</span><span>%</span> DE LOS MEXICANOS</h2>
<h3>CONOCE <strong>POCO O NADA</strong> DE SUS <strong>"DERECHOS"</strong></h3>
<!-- <a href="#" class="small radius button">SIGN UP NOW!</a> -->
</div>
</div>
</div>
</section>
<!--  END OF CALL TO ACTION -->



<!--  TESTIMONIALS  -->
<section class="testimonials">
<div class="row">
<div class="small-12 columns">
<div class="circle"><i class="fa fa-heart"></i></div>
<h2>UnMomento ayudo a <span id="lovedby">0</span> mexicanos</h2>
<hr class="small"/>

<div id="testimonials-carousel" class="owl-carousel">
    
    <div class="item">
    <div class="whoclient"><span>Petr Wright, Developer at <a href="">Aina Corp.</a></span></div>
    <div class="testimonial-content">
    <div class="testimonialimg"><img src="{% static 'images/hn-200x200.jpg'%}" alt="" /></div>
   <p>Semiotics ennui shabby chic irony Tumblr. Letterpress Cosby sweater put a bird on it ethnic fap Portland. Ethnic Pitchfork brunch, kogi crucifix cornhole fanny pack. Squid PBR artisan, Austin gastropub vegan lo-fi sustainable ethnic. Before they sold out 8-bit aesthetic ethnic mixtape.</p>
   </div>
    </div>

    <div class="item">
    <div class="whoclient"><span>Neil Wynter, Developer at <a href="">Reise S.A.</a></span></div>
    <div class="testimonial-content">
    <div class="testimonialimg"><img src="{% static 'images/jo-200x200.jpg'%}" alt="" /></div>
   <p>Voluptate kogi VHS, occupy hella banh mi Thundercats Godard jean shorts plaid in cred food truck. Plaid fingerstache craft beer, disrupt labore Tonx exercitation single-origin coffee assumenda raw denim delectus kogi. Thundercats proident photo booth Truffaut, banjo duis 8-bit church-key sunt mollit selvage elit Cosby.</p>
   </div>
    </div>

    <div class="item">
    <div class="whoclient"><span>Darron Williams, Developer at <a href="">Joseph Ltd.</a></span></div>
    <div class="testimonial-content">
    <div class="testimonialimg"><img src="{% static 'images/sm-200x200.jpg'%}" alt="" /></div>
   <p>Deep v bespoke ethical, fanny pack ea Odd Future sapiente chia et synth id slow-carb sriracha nesciunt tote bag. Meggings ex pug, enim Odd Future ea salvia deep v sartorial mlkshk literally yr sapiente. Shoreditch deserunt master cleanse, try-hard McSweeney's whatever art party put a bird on it pork.</p>
   </div>
    </div>

        
    </div>

</div>
</div>
</section>
<!--  END OF TESTIMONIALS -->





<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    

  {%endblock content%}
  {% block scripts %}
    
  {% endblock scripts %}