{% extends "base.html" %}
{%load staticfiles%}


{% load  categorias_inclusion_tag %}

{% block title %}


  
{% endblock title %}


{% block content %}
  




<!--  HEADER -->    
<header class="alt-2">
<!--  MESSAGES ABOVE HEADER IMAGE -->
<div class="message">
<div class="row">
<div class="small-12 columns">
<div class="message-intro">
<span class="message-line"></span>
<p>UnMomento</p>
<span class="message-line"></span>
</div>
<h1>{% for cat in  categoria %}

  {{cat.nombre_cat}}
  
{% endfor %}</h1>
</div>
</div>
</div>
<!--  END OF MESSAGES ABOVE HEADER IMAGE -->

<div class="top">
  <div class="row">
  <div class="small-12 large-3 medium-3 columns">
   <div class="logo">
   <a href="{%url 'home'%}" title=""><img  src="{% static 'images/logo.png'%}" alt="" title=""/></a>
   </div>
</div>

<div class="small-12 large-9 medium-9 columns">

<!--  NAVIGATION MENU AREA -->
    <nav class="desktop-menu">
      <ul class="sf-menu">
         <li><a href="{%url 'home'%}">Buscar</a></li>
         <li><a href="{%url 'que_es'%}">UnMomento</a>
             
         </li>
         <li><a href="{% url 'categorias' %}">CATEGORIAS</a></li>
        
          <li><a href="#">CONTRIBUCIONES</a>
              <ul>
                 <li><a href="{% url 'colaboradores:solicitud' %}">Quiero contribuir</a></li>
                
              </ul>
          </li>
          <!-- <li><a href="contact.html">CONTACT</a></li> -->
    </ul>
  </nav>
<!--  END OF NAVIGATION MENU AREA --> 

<!--  MOBILE MENU AREA -->
  <nav class="mobile-menu">
    <ul>
  <li><a href="{%url 'home'%}">BUSCAR</a></li>
         <li><a href="{%url 'que_es'%}">unmomento</a>
             
         </li>
         
         <li><a href="{% url 'categorias' %}">CATEGORIAS</a>
             
          </li>
          <li><a href="#">Contribuciones</a>
              <ul>
                 <li><a href="{% url 'colaboradores:solicitud' %}">Quiero contribuir</a></li>
                
              </ul>
          </li>
         <!--  <li><a href="contact.html">contacto</a></li> -->
</ul>
  </nav>
  <!--  END OF MOBILE MENU AREA -->


  </div>
  </div>
  </div>

</header>  
<!--  END OF HEADER -->  


<!-- BLOG CONTENT -->
<div class="sectionarea blog">
<div class="row"> 
<div class="small-12 large-9 medium-9 columns">

{% for art in articulos %}
<!-- POST START -->
<div class="entry">

  <h2><a href="{{art.slug}}">{{art.titulo}}</a></h2>


<p>{{art.descripcion_breve}}</p>

<a href="{{art.slug}}" class="small radius button">Leer mas</a>

<div class="meta">{{art.fecha|date:"d M Y"}}, Escrito por <a href="">{{art.colaborador.nombre}}</a> <i class="fa fa-comment-o"></i><a href="">3 comentarios</a></div>

</div>
<!-- POST END -->

<div class="spacing-top-50"></div>
{%empty%}

  <h4>Aun no hay articulos en esta categoria, estamos trabajando para que la plataforma tenga mas contenido :)</h4>
  <div style="text-align:center"><br>
  <img style="max-height:350px" src="{% static 'images/working.jpg'%}"></div>

{% endfor %}










<!-- 

PAGINATION
<ul class="pagination"> 
<li class="arrow unavailable"><a href="">&laquo;</a></li> 
<li class="current"><a href="">1</a></li> 
<li><a href="">2</a></li> 
<li><a href="">3</a></li> 
<li><a href="">4</a></li> 
<li class="unavailable"><a href="">&hellip;</a></li> 
<li><a href="">12</a></li> 
<li><a href="">13</a></li> 
<li class="arrow"><a href="">&raquo;</a></li> 
</ul>
END OF PAGINATION-->
</div> 

<div class="small-12 large-3 medium-3 columns">
<!-- SIDEBAR -->
<div class="sidebar">

{%show_categorias%}
{%show_articulos_sidebar%}
<!-- 
<div class="widget">
<h4 class="widget_title"><span>Search</span></h4>
<form method="get" id="searchform" action="blog_category.html">
   <div class="row collapse">  
   <div class="small-11 large-11 medium-11 columns">
   <input type="text" name="s" id="s" value=""> 
   </div>
   <div class="small-1 large-1 medium-1 columns">
   <button type="submit" class="button tiny"><i class="fa fa-search"></i></button>    
   </div>
   </div>
   </form>
</div> -->



<div class="widget">
<h4 class="widget_title"><span>ETIQUETAS</span></h4>
<div class="tagcloud">
<a href="">Robo</a>
<a href="">Accidente</a>
<a href="">Herencias</a>

</div>
</div>


<!-- END OF SIDEBAR -->
</div>
</div>

</div>
</div>
<!-- END OF CONTENT -->


{% endblock content %}