{%extends 'base.html'%}
{%load staticfiles%}


{% block title %}

  <title>Inicio UnMomento</title>
  
{% endblock title %}

{% block styles %}
  
{% endblock styles %}

{%block content%}

<!--  HEADER -->    
<header class="alt-2">
<!--  MESSAGES ABOVE HEADER IMAGE -->
<div class="message">
<div class="row">
<div class="small-12 columns">
<div class="message-intro">
<span class="message-line"></span>
<p>UnMomento</p>
<span class="message-line"></span>
</div>
<h1>¿Qué es?</h1>
</div>
</div>
</div>
<!--  END OF MESSAGES ABOVE HEADER IMAGE -->

<div class="top">
  <div class="row">
  <div class="small-12 large-3 medium-3 columns">
   <div class="logo">
  <a href="{%url 'home'%}" title=""><img src="{% static 'images/logo.png'%}" alt="" title=""/></a>
   </div>
</div>

<div class="small-12 large-9 medium-9 columns">
<!--  NAVIGATION MENU AREA -->
    <nav class="desktop-menu">
      <ul class="sf-menu">
         <li><a href="{%url 'home'%}">Buscar</a></li>
         <li class="current-menu-item"><a href="{%url 'que_es'%}">UnMomento</a>
             
         </li>
         <li><a href="{% url 'categorias' %}">CATEGORIAS</a></li>
        
          <li><a href="#">CONTRIBUCIONES</a>
              <ul>
                 <li><a href="{% url 'colaboradores:solicitud' %}">Quiero contribuir</a></li>
                
              </ul>
          </li>
          <li><a href="contact.html">CONTACT</a></li>
    </ul>
  </nav>
<!--  END OF NAVIGATION MENU AREA --> 

<!--  MOBILE MENU AREA -->
  <nav class="mobile-menu">
    <ul>
  <li><a href="index.html">Inicio</a></li>
         <li><a href="#">unmomento</a>
             
         </li>
         <li><a href="{% url 'categorias' %}">categorias</a></li>
         <li><a href="#">PAGES</a>
             <ul>
                <li><a href="support.html">SUPPORT</a></li>
                <li><a href="login.html">LOGIN</a></li>
                <li><a href="testimonials.html">TESTIMONIALS</a></li>
                <li><a href="typography.html">TYPOGRAPHY</a></li>
             </ul>
          </li>
          <li><a href="#">Contribuciones</a>
              <ul>
                 <li><a href="blog.html">Quiero contribuir</a></li>
                
              </ul>
          </li>
          <li><a href="contact.html">contacto</a></li>
</ul>
  </nav>
  <!--  END OF MOBILE MENU AREA -->

  </div>
  </div>
  </div>

</header>  
<!--  END OF HEADER -->  

<!-- BLOG CONTENT -->
<div class="sectionarea blog">
<div class="row"> 
<div class="small-12 large-12 medium-12 columns">

<!-- POST START -->
<div class="entry">



<h2>UnMomento</h2>
<p>UnMomento sirve para dar soporte a toda persona que se vea en la necesidad de       saber que acciones tomar frente a una situacion inesperada y que implique tener contacto con aspectos legales, la aplicación le brindara al usuario las primeras acciones que debera hacer, se le mostraran cuales son sus derechos y tambien cuales son sus obligaciones ante tal situacion, la aplicación de ninguna manera sustiruira a un asesor legal, simplemente ayudara a que el usuario pueda enfrentar la situacion de una manera objetiva y correcta.</p>
</div>
<!-- POST END -->

<!-- SHARE -->
<div class="single-section-container"><h6 class="single-section-title"><span class="single-section-text">Comparte</span></h6></div>
<div class="sharing-buttons">
    <ul>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//unmomento.info/que_es/" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/home?status=https%3A//unmomento.info/que_es/" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://pinterest.com/pin/create/button/?url=https%3A//unmomento.info/que_es/&media=https%3A//unmomento.info/static/images/derecho-civil-1990.jpg&description=%09UnMomento%20pretende%20orientarte%20o%20abrir%20tu%20panorama%20ante%20un%20suceso%20o%20evento%20inesperado%20y%20ayudarte%20a%20llevar%20el%20proceso%20inicial%20de%20una%20manera%20facil%20y%20clara." title="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="https://plus.google.com/share?url=https%3A//unmomento.info/que_es/" title="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//unmomento.info/que_es/&title=UnMomento&summary=%09UnMomento%20pretende%20orientarte%20o%20abrir%20tu%20panorama%20ante%20un%20suceso%20o%20evento%20inesperado%20y%20ayudarte%20a%20llevar%20el%20proceso%20inicial%20de%20una%20manera%20facil%20y%20clara.&source=" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      
    </ul>
      </div>
<!-- END OF SHARE -->



</div>



</div>
</div>
<!-- END OF CONTENT -->



  {%endblock content%}
  {% block scripts %}
    
  {% endblock scripts %}